.shadow {
  background-color: rgb(143, 143, 143) !important;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(196, 227, 255);
  margin-bottom: 50px;
}

.table-section {
  display: flex;
  justify-content: center;
}



.table-row_active:hover td {
  cursor: pointer;
  background: rgb(255, 58, 58) !important;
}


